body{
  background-image: url("https://s22.postimg.cc/ysk7c958h/blue-close-up-concrete-304664.jpg");
}

.title{
  text-align: center;
  font-family: oxygen;
  font-size: 70px;
}

button:focus{
    background:#5776a8;
}
button{
  background-color: transparent;
  display: inline-block;
  text-align: center;
  color: black;
  font-size: 150%;
  opacity:0.8;
  padding: 14px 20px;
  border: solid;
  border-color: white;
  cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

.container {
  margin-left:100px;
}

.graph {
  text-align:center;
}

.well {
  margin-left: 350px;
}

.months{
  margin-left:90px;
}

.cur{
  background-color: #375991;
}