.container{
  margin-top: 100px;
  height: 450px;
  width: 60%;
  background-image: url("https://s22.postimg.cc/ysk7c958h/blue-close-up-concrete-304664.jpg");
  margin-left: 20%;
  
}

#question-base{
  padding:30px;
  height:50px;
  color: black;
  text-align: center;
}

#question{
  height:50px;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
}

#answers{
  height: 200px; 
  margin-top: 0px;
  padding: 40px;
  margin-left: 300px;
}

button {
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0x 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

#nxt-bt{
  float:right;
  width:30%;
}

input[type='radio'] { transform: scale(2); }