body{
  background-image: url("https://s22.postimg.cc/ysk7c958h/blue-close-up-concrete-304664.jpg"); 
}
.container{
  margin-top: 100px;
  height: 450px;
  width: 60%;
  margin-left: 20%;
  border-style: double;
  border-color: white;
  border-width:10px;
  
}

#question-base{
  padding:30px;
  height:50px;
  color: black;
  text-align: center;
}

#question{
  height:50px;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
}

#answers{
  height: 200px; 
  margin-top: 0px;
  padding: 40px;
  margin-left: 300px;
}

button {
    color: black;
    padding: 14px 20px;
    margin: 8px 0px 10px;
    border: none;
    cursor: pointer;
    margin: -6px;
   background-image: url("https://s22.postimg.cc/3zw2z08cx/marble-surface-wall-1323712.jpg");
}

.nxt-bt{
  float:right;
  width:20%;
}
