body{
  background-image: url("https://i.postimg.cc/T3LsSkGM/clouds-foggy-landscape-163837.jpg");
  background-attachment: fixed;
  background-position: center;
    
}

#motivation {
  display: table;
  background-color: white;
  opacity: 0.9;
  height: 500px;
  font-size:300%;
  width: 1000px;
  text-align: center;
  margin: auto;
  
}


#text {
  display: table-cell; 
  vertical-align: middle;
}